.login-card-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card-content {
    padding: 20px;
    border: 1px solid black;
    width: 400px;
}

.login-card-title {
    font-size: 40px;
    text-align: center;
    color: #357aff;
}

.login-card-field {
    margin-top: 15px;
    margin-bottom: 5px;
}

.login-button {
    color: white;
}

.login-card-field a {
    color: #357aff;
    text-decoration: none;
}

.login-card-field:has(a) {
    font-size: 12px;
    font-weight: 600;
}

.login-card-field:has(a):last-child {
    margin-top: 0;
}
