.profile-body {
    display: flex;
    margin-top: 50px;
}
.main {
    margin-left: 40px;
}
.main-title {
    font-size: 24px;
    font-weight: 700;
    color: #282c3f;
    font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
    margin-bottom: 25px;
}
