.home-container {
    margin: auto;
}

.home-container > :not(.slider-container) {
    padding: 0 30px; /* Apply padding to all children except slider-container */
}

.food-title {
    font-family: Okra, Helvetica, sans-serif;
    font-size: 34px;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-top: 15px;
}

.food-title-main {
    font-family: Okra, Helvetica, sans-serif;
    font-size: 34px;
    margin-left: 60px;
    margin-bottom: 30px;
    padding-top: 15px;
}

.slider-container {
    background-color: rgb(241, 239, 239);
}

.slider {
    margin: auto;
    text-align: center;
    height: 340px;
    width: 60%;
}

.slider-img {
    border: 2px solid black;
    margin: auto;
    height: 100%;
    width: 100%;
}

.card-container {
    margin-bottom: 20px;
}

.flex-display-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}

.buttons {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.button {
    border: none;
    padding: 3px 7px;
    border-radius: 3px;
    color: #37718e;
    background-color: white;
    border: 0.5px solid #37718e;
}

.button:hover {
    color: white;
    background-color: #37718e;
    border: 0.5px solid white;
}
