.form {
    height: auto;
    width: auto;
    margin-left: 25%;
    margin-right: 25%;
}
#uname {
    width: 100%;
}
.psd {
    width: 100%;
}
.conpsd {
    width: 100%;
}
#submit {
    height: 50px;
    width: 30%;
    background-color: green;
    color: white;
    margin-left: 2%;
}
#reset {
    height: 50px;
    width: 30%;
    background-color: brown;
    color: white;
    margin-left: 35%;
}
.password_check::after {
    content: '';
}
.password_check {
    display: flex;
    color: grey;
    font-weight: bold;
}
.showpsd {
    margin-top: -10%;
    margin-left: 65%;
}
